/*
 * Stylesheet for all employees
 * Employee Cards (for team page)
 * and Single Employee Pages (for each employee)
*/

/**** Employee Grid Page ****/

.loan-officer-header {
	max-width: 100%;
	background-image: url('img/textured-bg.png');
	background-size: 10px 10px;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-bottom: 4rem;

	@include mq($from: desktop) {
		margin-bottom: 0;
	}

	&__inner {
		max-width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.5rem 1rem;

		@include mq($from: desktop) {
			justify-content: space-between;
			flex-direction: row;
		}

		&--left {
			max-width: 45rem;

			h1 {
				margin-bottom: 0;
				font-size: 22px;

				@include mq($from: tablet) {
					font-size: 32px;
				}
			}
		}

		&--right {
			display: block;
			position: relative;
			text-align: center;
			margin-top: 2rem;

			@include mq($from: desktop) {
				margin-top: 0;
			}

			h1 {
				margin: 0;
				padding: 0;
				font-size: 20px;
				text-transform: uppercase;
				font-weight: 500;
				padding: 0 2rem;

				@include mq($from: tablet) {
					font-size: 29px;
				}
			}

			a {
				display: inline-block;
				font-size: 14px;
				font-weight: lighter;
				padding: 0 2rem;

				@include mq($from: tablet) {
					font-size: 18px;
				}

				&:hover {
					color: $brand-primary-color;
					cursor: pointer;
					text-decoration: underline;
				}
			}

			&:before, &:after {
				content: '';
				border-top: 7px solid $brand-primary-color;
				border-bottom: 7px solid $brand-primary-color;
				padding: 40px 5px;
				position: absolute;
				top: -20px;
				width: 30px;

				@include mq($from: tablet) {
					padding: 50px 5px;
				}
			}

			&:before {
				border-left: 7px solid $brand-primary-color;
				left: 0;
			}

			&:after {
				border-right: 7px solid $brand-primary-color;
				right: 0;
			}
		}
	}
}

// Grid Section
.loan-officer-main {
	background: $white;
	width: 100vw;
	position: relative;
  	left: 50%;
  	right: 50%;
 	margin-left: -50vw;
	margin-right: -50vw;
	border-top: solid 18px $brand-color-dark;

	.grid-container {
		max-width: 75rem;
		margin: 0 auto;
		padding: 0.5rem 0;

		h1 {
			color: $brand-color-dark;
			text-align: center;
			text-decoration: underline;

			@include mq($from: tablet) {
				text-align: left;
				padding-left: 1rem;
				text-decoration: none;
			}
		}
	}

	.loan-officer-grid {
		display: flex;
		max-width: 100%;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		@include mq($from: desktop) {
			align-items: initial;
			justify-content: flex-start;
		}

		&__card {
			width: 15rem;
			padding: 0 1rem 0;
			margin-bottom: 1.5rem;

			@include mq($from: desktop) {
				width: calc(100%/5);
				margin-bottom: 2rem;
			}

			.emp-name, .emp-location {
				margin: unset;
			}

			.emp-name {
				color: $brand-color-dark;
				text-transform: uppercase;
			}
		}
	}
}

/**** Single Employee Page ****/
.officer-intro-header {
	padding-top: 2rem;
	background: $white;
	width: 100vw;
	position: relative;
  	left: 50%;
  	right: 50%;
 	margin-left: -50vw;
	margin-right: -50vw;

	@include mq($from: desktop) {
		padding-top: 5rem;
	}

	.officer-header-info {
		display: flex;
		max-width: 75rem;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0.5rem 1rem;
		border-bottom: 10px solid $brand-color-dark;

		@include mq($from: tablet) {
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	.info-box-img {
		max-width: 15rem;
		position: relative;
		z-index: 10; // keep image on top of bottom section

		@include mq($from: desktop) {
			margin-bottom: -3rem;
			width: 14.2rem;
			min-height: 18rem;
		}
	}

	.info-box-text {
		max-width: 30rem;

		.info-title {
			font-size: 2rem;
			text-transform: uppercase;
			&:first-of-type { font-weight: bold; }
		}

		p {
			font-size: 14px;
			font-weight: lighter;
		}
	}

	.info-box-contact {
		position: relative;
		padding: 0 2rem 0 2rem;
		width: 16rem;
		margin-top: 1.2rem;

		@include mq($until: desktop) {
			margin-top: 2rem;
			margin-bottom: 2rem;
			width: 15rem;
		}

		@include mq($until: tablet) {
			&:before, &:after {
				content: '';
				border-top: 7px solid $brand-primary-color;
				border-bottom: 7px solid $brand-primary-color;
				padding: 98px 5px;
				position: absolute;
				top: -5px;
				width: 30px;

				@include mq($from: tablet) {
					padding: 98px 5px;
				}
			}

			&:before {
				border-left: 7px solid $brand-primary-color;
				left: 0;
			}

			&:after {
				border-right: 7px solid $brand-primary-color;
				right: 0;
			}
		}

		@include mq($from: desktop) {
			&:before, &:after {
				content: '';
				border-top: 7px solid $brand-primary-color;
				border-bottom: 7px solid $brand-primary-color;
				padding: 98px 5px;
				position: absolute;
				top: -5px;
				width: 30px;

				@include mq($from: tablet) {
					padding: 98px 5px;
				}
			}

			&:before {
				border-left: 7px solid $brand-primary-color;
				left: 0;
			}

			&:after {
				border-right: 7px solid $brand-primary-color;
				right: 0;
			}
		}

		h3 {
			margin-bottom: 0.3rem;
			margin-top: 0.1rem;
			text-transform: uppercase;
			color: $brand-color-dark;
		}

		.lo-email {
			text-decoration: underline;
		}

		.add-space {
			display: inline-block;
			margin-bottom: 0.3rem;
		}

		.no-marg {
			color: $black;
			margin: 0;
		}

		.social-linkedin {
			width: 31px;
			height: 31px;
			margin-top: 0.3rem;
		}
	}
}

.officer-main-info {
	width: 100vw;
	position: relative;
  	left: 50%;
  	right: 50%;
 	margin-left: -50vw;
	margin-right: -50vw;
	background: $white;

	.flex-container {
		display: flex;
		max-width: 75rem;
		padding: 1rem 2rem 0.5rem;
		margin: 0 auto;
		background: url('img/textured-bg.png');
		background-size: 15px 15px;
		justify-content: flex-start;
		flex-wrap: wrap;

		.flex-left {
			display: flex;
			flex-direction: column;
			max-width: 15rem;
			justify-content: flex-start;

			@include mq($from: tablet) {
				margin-right: 5rem;
				width: 14.6rem;
			}

			h3 {
				color: $brand-color-dark;
				text-transform: uppercase;
				margin-bottom: 0.2rem;
			}

			p {
				font-size: 14px;
				font-weight: lighter;
				margin: 0.2rem 0;
			}

			.review {
				padding-top: 4rem;
				position: relative;
				padding-bottom: 4rem;
	
				p {
					font-size: 20px;
				}
	
				.reviewer-name {
					font-size: 14px;
					color: $brand-primary-color;
					font-weight: lighter;
				}
	
				&:before, &:after {
					font-family: "Times New Roman", Times, serif;
					font-weight: bold;
					position: absolute;
					font-size: 72px;
					color: $brand-color-dark;
				}
	
				// do not change quote marks -> they will be replaced with straight quotes if you do.
				&:before {
					content: '“';
					left: -6px;
					top: 15px;
				}
	
				&:after {
					content: '”';
					right: 1.2rem;
					bottom: 0.7rem;
				}
			}

			.hide-mobile {
				@include mq($until: 1023px) { display: none; }
			}
		}

		.flex-right {
			max-width: 35rem;

			h3 {
				color: $brand-color-dark;
				text-transform: uppercase;
				margin-bottom: 0.2rem;

				@include mq($until: 1023px) {
					padding-top: 1.5rem;
				}

				@include mq($from: desktop) {
					&:nth-of-type(2), &:nth-of-type(3) {
						padding-top: 1.5rem;
					}
				}
			}

			.last:last-of-type {
				padding-bottom: 1.5rem;
			}

			p {
				margin: 0.2rem 0;
				font-size: 14px;
			}

			iframe {
				max-width: 35rem;
				width: 100%;
				height: 14rem;
				margin-bottom: 2rem;

				@include mq($from: tablet) {
					height: 20rem;
				}
			}
		}
	}
}