/*
Theme Name: Landmark National Bank
Theme URI: http://underscores.me/
Author: 502 Media Group
Author URI: http://502mediagroup.com
Description: A theme for Landmark National Bank
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: lnb
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Landmark National Bank is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
// Grid
@import "susy";

// Variables 
@import "variables-site/variables-site";

// Media Query Mixin
@import "../bower_components/sass-mq/mq";

// Other Mixins
@import "mixins/mixins-master";

// Normalize
@import "normalize";

@import "slick";
@import "slick-theme";

* { 
	box-sizing: border-box;
}


@import "typography/typography";

html{
	overflow: auto;
}
body {
	//position: relative;
}

body, button, input, select, textarea {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: $black;
}

.canvas-wrap, #page, #content, #colophon {
	// overflow-y: scroll;
	// overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.noscript {
	background: $brand-primary-color;
	color: $white;
	padding: 1rem;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999999;
}

@import "elements/elements";

@import "forms/forms";

@import "navigation/navigation";

@import "modules/accessibility";

@import "modules/alignments";

@import "modules/clearings";

@import "site/secondary/widgets";

@import "site/site";

@import "modules/infinite-scroll";

@import "media/media";

@import "loan-officers";

#content, #masthead, #colophon {
	@include container();

	@include mq( $until: desktop ){
		padding: 0 .5rem;
	}
	@include extra-wide();
}

#primary {
	@include full;
	@include mq( $from: tablet ){
		@include span(9);	
	}
	
}

#secondary {
	@include span(12);
	@include mq( $from: tablet ){
		@include span(last 3);
		margin-top: 2rem;
	}
}

.wrap.content {
	background: url('img/textured-bg.png');
	background-size: 10px 10px;
}

.show-mobile {
	display: none;
	@include mq( $until: tablet){
		display: block;
	}
}

// prevent autoptimize from injecting chevrons into menu items
#primary-menu .current-menu-parent .current-menu-item a:before {
	display: none !important;
}	