button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: $color__border-button-hover;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

button, input[type="submit"] {
	background: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	border: none;

	border: 1px solid;

	transition: all .2s ease;
	
	&:hover {
		border-color: inherit;
		box-shadow: none;
	}
}

input[type="submit"].gform_button {
	background: $brand-primary-color;
	padding: .5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
	border: 2px solid $brand-primary-color;
	transition: all .2s ease;

		&:hover {
			border: 2px solid $brand-primary-color;
			background: $white;
			color: $brand-primary-color;
		}
}

.button {
	display: inline-block;
	background: $brand-primary-color;
	padding: .5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 1rem;
	border: 2px solid $brand-primary-color;
	transition: all .2s ease;

	&:hover {
		border: 2px solid $brand-primary-color;
		background: $white;
		color: $brand-primary-color;
	}
}