input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: .25rem;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

input[readonly] {
	cursor: not-allowed;
	background: $light-gray;
	color: $black;
}