@import "//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700";
@import url(style.css);
#tinymce {
  background: url("img/textured-bg.png");
  background-size: 10px 10px;
  padding: 1rem !important; }
  #tinymce a.external-lvl-1:after {
    content: 'Level 1';
    margin-left: .25rem;
    font-size: 10px;
    vertical-align: super;
    background: yellow;
    padding: 2px;
    color: #000;
    cursor: default; }
  #tinymce a.external-lvl-2:after {
    content: 'Level 2';
    margin-left: .25rem;
    font-size: 10px;
    vertical-align: super;
    background: orange;
    padding: 2px;
    color: #000;
    cursor: default; }
  #tinymce a.external-lvl-3:after {
    content: 'Level 3';
    margin-left: .25rem;
    font-size: 10px;
    vertical-align: super;
    background: red;
    padding: 2px;
    color: #000;
    cursor: default; }
