@charset "UTF-8";
/*
Theme Name: Landmark National Bank
Theme URI: http://underscores.me/
Author: 502 Media Group
Author URI: http://502mediagroup.com
Description: A theme for Landmark National Bank
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: lnb
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Landmark National Bank is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Asides
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary, time {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #AD2162;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 0; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 8px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
  margin: 0; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: #AD2162;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #AD2162;
      opacity: 0.75; }

* {
  box-sizing: border-box; }

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin: 0;
  margin: .5rem 0 1rem; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

html {
  overflow: auto; }

body, button, input, select, textarea {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #231F20; }

.canvas-wrap, #page, #content, #colophon {
  -webkit-overflow-scrolling: touch; }

.noscript {
  background: #AD2162;
  color: #FFF;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

@media (max-width: 74.99em) {
  .pricing-table {
    overflow-x: scroll; } }

.pricing-table table {
  border: 1px solid #231F20; }

.pricing-table tbody tr:nth-child(odd) {
  background: #D1D3D4; }

.pricing-table th {
  text-align: left;
  padding: .5rem 1rem 0; }

.pricing-table td {
  padding: 1rem; }

.card-table thead th:nth-child(odd) {
  background: #D1D3D4; }

.card-table td, .card-table th {
  padding: .25rem; }

.card-table tbody tr {
  border-bottom: 1px solid #b7babb; }
  .card-table tbody tr > th:first-child {
    background: #D1D3D4; }
  .card-table tbody tr td {
    text-align: center;
    width: 14rem; }
  .card-table tbody tr td:nth-child(odd) {
    background: #D1D3D4; }
  .card-table tbody tr th {
    text-align: left; }

.card-table thead th {
  text-transform: uppercase; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

button, input[type="submit"] {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  border: none;
  border: 1px solid;
  transition: all .2s ease; }
  button:hover, input[type="submit"]:hover {
    border-color: inherit;
    box-shadow: none; }

input[type="submit"].gform_button {
  background: #AD2162;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  border: 2px solid #AD2162;
  transition: all .2s ease; }
  input[type="submit"].gform_button:hover {
    border: 2px solid #AD2162;
    background: #FFF;
    color: #AD2162; }

.button {
  display: inline-block;
  background: #AD2162;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 1rem;
  border: 2px solid #AD2162;
  transition: all .2s ease; }
  .button:hover {
    border: 2px solid #AD2162;
    background: #FFF;
    color: #AD2162; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: .25rem; }

textarea {
  padding-left: 3px;
  width: 100%; }

input[readonly] {
  cursor: not-allowed;
  background: #D1D3D4;
  color: #231F20; }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #AD2162;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #6B0039; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

.content-area a {
  border-bottom: 1px solid #AD2162; }
  .content-area a:hover {
    border-bottom: 1px solid #6B0039; }

a[href$=".pdf"]:after {
  content: ' \f1c1';
  font-family: 'FontAwesome'; }

a[href$=".doc"]:after, a[href$=".docx"]:after {
  content: ' \f1c2';
  font-family: 'FontAwesome'; }

a[href$=".txt"]:after {
  content: ' \f0f6';
  font-family: 'FontAwesome'; }

a[href$=".zip"]:after {
  content: ' \f1c6';
  font-family: 'FontAwesome'; }

a[href="#"] {
  cursor: default; }

.edit-link {
  display: block; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@media (max-width: 74.99em) {
  .mobile-logo {
    display: block;
    position: relative;
    height: 35px;
    margin: 0 auto;
    text-align: center;
    left: 0; } }
  @media (max-width: 74.99em) and (max-width: 46.24em) {
    .mobile-logo {
      text-align: center; } }
  @media (max-width: 74.99em) and (min-width: 20em) {
    .mobile-logo {
      left: -1rem; } }

@media (max-width: 74.99em) {
    .mobile-logo a:hover {
      border: none; }
    .mobile-logo img {
      height: 35px;
      vertical-align: sub; }
  .site-branding {
    display: none; }
  .wrap.header {
    list-style: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: #AD2162;
    color: #FFF;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
  .nav-show-sub-menu {
    display: none; }
  .menu-item-has-children .nav-show-sub-menu {
    display: block;
    background: #D1D3D4;
    color: #231F20;
    margin-left: .5rem;
    position: absolute;
    border: none;
    padding: 0;
    right: 0;
    top: .95rem;
    height: 30px;
    width: 30px; } }
  @media (max-width: 74.99em) and (max-width: 46.24em) {
    .menu-item-has-children .nav-show-sub-menu {
      right: 2rem; } }

@media (max-width: 74.99em) {
    .menu-item-has-children .nav-show-sub-menu .fa-chevron-down {
      transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease; }
    .menu-item-has-children .nav-show-sub-menu.opened .fa-chevron-down {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  #masthead {
    margin: 0 !important;
    padding: 0 !important;
    width: 90%;
    max-width: 320px;
    display: flex;
    flex-direction: column; }
    #masthead .widget_landmark_quick_links {
      display: none;
      text-align: center; } }
    @media (max-width: 74.99em) and (max-width: 74.99em) {
      #masthead .widget_landmark_quick_links {
        display: block; } }

@media (max-width: 74.99em) {
      #masthead .widget_landmark_quick_links li {
        margin-bottom: 1rem; }
  #primary-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    max-width: 320px;
    width: 100%;
    margin: 0 auto; }
    #primary-menu li {
      margin: 0;
      padding: .25rem 0;
      position: relative; }
    #primary-menu > li {
      padding: 1rem 0; }
    #primary-menu > a {
      position: relative;
      left: 0; }
    #primary-menu a {
      color: #231F20;
      color: #FFF;
      font-size: 1.2rem;
      text-decoration: none; }
    #primary-menu .sub-menu {
      display: none;
      padding: 0;
      list-style: none;
      margin: 0;
      background: #6B0039; }
  #header-search {
    margin: 1rem 1rem;
    text-align: right; }
    #header-search input[type="text"] {
      border-radius: 0; }
    #header-search input[type="submit"] {
      margin-left: 1rem;
      background: #D1D3D4;
      color: #231F20;
      border: none;
      height: 32px; } }
  @media (max-width: 74.99em) and (max-width: 46.24em) {
    #header-search {
      display: none; } }

@media (max-width: 74.99em) {
  #remote-login {
    margin: 1rem auto 0;
    padding: 1rem 0;
    order: -2;
    background: #6B0039;
    text-align: center; } }
  @media (max-width: 74.99em) and (min-width: 20em) {
    #remote-login {
      margin: 2rem 0 0; } }

@media (max-width: 74.99em) {
    #remote-login h4, #remote-login .account-login-header {
      font-size: 1rem;
      text-transform: uppercase;
      margin: .5em 0; }
    #remote-login input {
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: .5rem;
      border-radius: 0; }
      #remote-login input[type="submit"] {
        background: #D1D3D4;
        border: none;
        text-transform: uppercase; }
    #remote-login a.enroll-link {
      display: block;
      text-align: center;
      margin: 1rem auto 0;
      margin-bottom: .5rem;
      border-radius: 0;
      background: #D1D3D4;
      border: none;
      text-transform: uppercase;
      line-height: 1;
      padding: .6em 1em .4em;
      color: #231F20;
      width: 4rem;
      font-size: 0.75rem; }
  .canvas-wrap {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 50px;
    min-height: 100vh;
    background: #FFF; }
  .nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0); }
  label[for="nav-trigger"] {
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 3;
    width: 45px;
    height: 30px;
    cursor: pointer; }
    label[for="nav-trigger"] svg {
      width: 40px !important; }
      label[for="nav-trigger"] svg rect {
        fill: #AD2162;
        width: 45px !important; }
    label[for="nav-trigger"]:before {
      content: 'Menu';
      position: fixed;
      top: 0;
      left: 4rem;
      font-size: 2rem;
      text-transform: uppercase;
      color: #AD2162; } }
    @media (max-width: 74.99em) and (max-width: 46.24em) {
      label[for="nav-trigger"]:before {
        display: none; } }

@media (max-width: 74.99em) {
    label[for="nav-trigger"]:after {
      content: 'Login';
      position: fixed;
      top: 0;
      right: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
      color: #AD2162; } }
    @media (max-width: 74.99em) and (max-width: 46.24em) {
      label[for="nav-trigger"]:after {
        right: .5rem; } }

@media (max-width: 74.99em) {
  .mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    background: #FFF;
    box-shadow: 0 1px 5px #D1D3D4; }
  .admin-bar .mobile-header, .admin-bar .header.wrap {
    top: 32px; } }
  @media (max-width: 74.99em) and (max-width: 48.875em) {
    .admin-bar .mobile-header, .admin-bar .header.wrap {
      top: 46px; } }

@media (max-width: 74.99em) {
  .admin-bar label[for="nav-trigger"] {
    top: 42px; }
    .admin-bar label[for="nav-trigger"]:after, .admin-bar label[for="nav-trigger"]:before {
      top: 32px !important; } }
  @media (max-width: 74.99em) and (max-width: 48.875em) {
    .admin-bar label[for="nav-trigger"] {
      top: 55px; }
      .admin-bar label[for="nav-trigger"]:after, .admin-bar label[for="nav-trigger"]:before {
        top: 48px !important; } }

@media (max-width: 74.99em) {
  label[for="nav-trigger"], .canvas-wrap, .mobile-header {
    transition: left 0.2s; }
  html, body {
    overflow-x: hidden; }
  .nav-trigger:checked ~ .mobile-header {
    left: 90%; }
  .nav-trigger:checked ~ .mobile-header label {
    left: 92%; }
    .nav-trigger:checked ~ .mobile-header label:after {
      content: '\f00d';
      padding: .3rem 1rem;
      background: #FFF;
      border-radius: 50%;
      font-family: 'FontAwesome';
      left: 1rem;
      right: auto;
      top: 1rem; } }
    @media (max-width: 74.99em) and (max-width: 22.5em) {
      .nav-trigger:checked ~ .mobile-header label:after {
        display: none; } }

@media (max-width: 74.99em) {
      .os-ios .nav-trigger:checked ~ .mobile-header label:after {
        display: none; }
    .nav-trigger:checked ~ .mobile-header label:before {
      display: none; }
  .nav-trigger:checked ~ .canvas-wrap {
    left: 90%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
    height: 100px; }
  .os-ios .wrap.header {
    display: none;
    position: static; }
  .os-ios .nav-trigger:checked ~ .wrap.header {
    display: block;
    position: static;
    overflow-y: scroll;
    padding-top: 4rem; }
  .os-ios .nav-trigger:checked ~ .mobile-header {
    left: 0; }
  .os-ios .nav-trigger:checked ~ .mobile-header label {
    left: 2%; }
  .os-ios .nav-trigger:checked ~ .canvas-wrap {
    display: none;
    left: 0%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 100px; }
  .os-ios #masthead {
    width: 100%; }
  .skiptranslate ~ #page .mobile-header {
    top: 40px; }
  .skiptranslate ~ #page .mobile-header [for="nav-trigger"] {
    top: 50px; }
  .skiptranslate ~ #page, .skiptranslate ~ #page #site-navigation {
    margin-top: 40px; } }

.skiptranslate ~ #page {
  margin-top: 40px; }

.translated-ltr #primary-menu > li {
  font-size: 1.1rem; }

.translated-ltr #view-on-google {
  display: none; }

@media (min-width: 75em) {
  .main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%; }
    .main-navigation ul {
      display: none;
      list-style: none;
      margin: 0;
      padding-left: 0; }
      .main-navigation ul ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        float: left;
        position: absolute;
        top: 1.5em;
        left: -999em;
        z-index: 99999; }
        .main-navigation ul ul ul {
          left: -999em;
          top: 0; }
        .main-navigation ul ul li:hover > ul,
        .main-navigation ul ul li.focus > ul {
          left: 100%; }
        .main-navigation ul ul a {
          width: 200px; }
      .main-navigation ul li:hover > ul,
      .main-navigation ul li.focus > ul {
        left: auto; }
    .main-navigation li {
      float: left;
      position: relative; }
    .main-navigation a {
      display: block;
      text-decoration: none; }
  /* Small menu. */
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block; } }

@media screen and (min-width: 75em) and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

@media (min-width: 75em) {
  .site-main .comment-navigation, .site-main
  .posts-navigation, .site-main
  .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden; }
  .comment-navigation .nav-previous,
  .posts-navigation .nav-previous,
  .post-navigation .nav-previous {
    float: left;
    width: 50%; }
  .comment-navigation .nav-next,
  .posts-navigation .nav-next,
  .post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%; }
  .mobile-logo {
    display: none; }
  .nav-show-sub-menu {
    display: none; }
  .nav-trigger {
    display: none; }
    .nav-trigger + label {
      display: none; }
  label[for="nav-trigger"] {
    display: none; }
  #masthead {
    margin-top: 2rem; }
    #masthead .widget_landmark_quick_links {
      display: none; }
    #masthead .site-branding {
      float: left;
      width: 25%;
      box-sizing: border-box;
      width: 25%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      #masthead .site-branding h1 {
        margin: 1rem 0 0;
        font-size: 0; }
      #masthead .site-branding a {
        display: block; }
        #masthead .site-branding a:hover {
          border: none; }
      #masthead .site-branding img {
        width: 100%; }
  #site-navigation {
    float: left;
    width: 55%;
    clear: none;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; }
    #site-navigation #header-search {
      float: right; }
      #site-navigation #header-search input[type="text"] {
        line-height: 1.5;
        border: 1px solid lightgrey;
        border-radius: 0;
        font-size: .75rem; }
      #site-navigation #header-search input[type="submit"] {
        background: lightgrey;
        margin: 0 1rem 0 .5rem;
        padding: .25rem .5rem;
        vertical-align: middle;
        line-height: 1.5;
        border: none; }
    #site-navigation .menu-primary-container {
      clear: both;
      text-align: center; }
  #remote-login {
    box-sizing: border-box;
    width: 25%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%;
    text-align: center;
    color: #FFF; }
    #remote-login .inside {
      background: #AD2162;
      padding: 0 1rem;
      padding: 1rem 1rem 0.75rem 1.5rem; }
    #remote-login span {
      display: block;
      color: #FFF;
      text-transform: uppercase; }
    #remote-login h4, #remote-login .account-login-header {
      text-align: left;
      margin: 0 0 1rem 0;
      padding: 0;
      text-transform: uppercase;
      font-weight: 400; }
    #remote-login input {
      font-size: .8rem;
      border-radius: 0; }
      #remote-login input[type="submit"] {
        display: block;
        width: 40%;
        width: 5rem;
        margin-right: 10%;
        float: left;
        background: #6A0439;
        color: #FFF;
        border: none;
        padding: .25rem 0;
        text-align: center;
        margin-bottom: .5rem; }
    #remote-login a.enroll-link {
      font-size: .8rem;
      border-radius: 0;
      display: block;
      width: 40%;
      width: 5rem;
      margin-right: 10%;
      float: left;
      background: #6A0439;
      color: #FFF;
      border: none;
      padding: .25rem 0;
      text-align: center;
      margin-bottom: .5rem;
      line-height: 1; }
    #remote-login .username {
      text-align: left; }
      #remote-login .username:after {
        font-family: "FontAwesome";
        content: "\f023";
        font-size: 1.5rem;
        width: auto;
        margin-left: .5em;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        color: #231F20; }
      #remote-login .username input {
        width: 80%; }
  #primary-menu {
    font-size: 20px;
    font-size: 1.25rem;
    display: inline-block;
    margin-top: 2rem;
    position: relative;
    top: -4px; }
    #primary-menu li {
      padding: 0 1rem; }
      #primary-menu li:hover a {
        border-bottom: 6px solid #AD2162; }
    #primary-menu a {
      color: #231F20;
      display: inline;
      padding-bottom: .5rem; }
      #primary-menu a:hover {
        border-bottom: 6px solid #AD2162;
        color: #AD2162; }
    #primary-menu .sub-menu {
      background: white;
      top: 2.6rem;
      padding: 0.2rem 1rem; }
      #primary-menu .sub-menu li {
        padding: 0; }
      #primary-menu .sub-menu li a {
        border: none !important;
        display: block;
        text-align: left;
        padding: .25rem;
        width: auto;
        white-space: nowrap;
        clear: both;
        float: left;
        min-width: 220px; }
      #primary-menu .sub-menu a:hover {
        border: none;
        color: #AD2162;
        font-weight: 700; }
    #primary-menu #menu-item-219 .sub-menu {
      width: 20rem; }
    #primary-menu #menu-item-218 .sub-menu {
      width: 17rem; }
    #primary-menu .current-menu-parent .current-menu-item a:before {
      color: #AD2162;
      content: '\f105\0020';
      font-family: 'FontAwesome'; }
    #primary-menu > .current-menu-item a, #primary-menu .current-menu-parent a {
      border-bottom: 6px solid #AD2162; } }

#masthead .account-type-wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }
  #masthead .account-type-wrap .personal, #masthead .account-type-wrap .business {
    width: 100%;
    flex: 1 0 50%; }
    #masthead .account-type-wrap .personal a, #masthead .account-type-wrap .business a {
      display: block;
      margin: .5em auto;
      float: none;
      cursor: pointer; }
      #masthead .account-type-wrap .personal a + a, #masthead .account-type-wrap .business a + a {
        margin-top: 1em; }
  @media (min-width: 75em) {
    #masthead .account-type-wrap .personal {
      border-right: 1px solid #FFF; } }

#remote-login h4, #remote-login .account-login-header {
  text-align: center; }

#remote-login .inside {
  padding: .5em; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after, .clearfix:after {
  clear: both; }

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/* Search widget. */
.widget_search .search-submit {
  display: none; }

.widget-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 1rem 0; }

.widget_landmark_quick_links {
  display: none;
  background: #AD2162;
  font-size: 1.25rem;
  padding: 1rem; }
  @media (min-width: 75em) {
    .widget_landmark_quick_links {
      display: block; } }
  .widget_landmark_quick_links .widget-title {
    border-bottom: 1px solid #FFF;
    color: #FFF; }
  .widget_landmark_quick_links .fa {
    width: 2rem;
    text-align: center; }
  .widget_landmark_quick_links .fa-mobile {
    font-size: 2.25rem;
    vertical-align: middle; }
  .widget_landmark_quick_links .fa-line-chart {
    margin-right: .25rem; }
  .widget_landmark_quick_links ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .widget_landmark_quick_links a {
    color: #FFF;
    text-decoration: none; }

.sidebar-link {
  display: block; }

.sidebar-image {
  width: 100%; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.home.page .home-corner {
  box-sizing: border-box;
  width: 66.6666666667%;
  float: left;
  padding-left: 0.8333333333%;
  padding-right: 0.8333333333%; }

.home.page .hero .wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.8333333333%; }
  .home.page .hero .wrap:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 156.25em) {
    .home.page .hero .wrap {
      max-width: 80%; } }

.home.page .hero.top {
  background-size: 10px 10px;
  background: #f4f4f4; }

.home.page .hero .quick-links {
  margin: 1rem 0; }
  .home.page .hero .quick-links ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .home.page .hero .quick-links li {
    text-align: center; }
    @media (min-width: 59.375em) {
      .home.page .hero .quick-links li {
        box-sizing: border-box;
        width: 20%;
        float: left;
        padding-left: 0.5%;
        padding-right: 0.5%;
        text-align: left; } }
    .home.page .hero .quick-links li a {
      display: block;
      padding: 0 1rem;
      color: #FFF;
      background: #AD2162;
      text-transform: uppercase;
      height: 4rem;
      margin-bottom: 1rem;
      transition: all .2s ease; }
      .home.page .hero .quick-links li a:hover {
        background: #FFF;
        background: #6B0039;
        color: #AD2162;
        color: #FFF; }
      .home.page .hero .quick-links li a .fa {
        font-size: 2rem;
        float: left;
        margin-right: 1rem;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
      .home.page .hero .quick-links li a .fa-mobile {
        font-size: 3rem; }
      .home.page .hero .quick-links li a span {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        display: block; }

.home.page .hero .call-outs {
  margin: 2rem 0; }
  .home.page .hero .call-outs .call-out {
    margin-bottom: 2rem;
    text-align: center; }
    .home.page .hero .call-outs .call-out a {
      display: block; }
      .home.page .hero .call-outs .call-out a:hover .fa:first-child {
        color: #AD2162; }
    @media (min-width: 46.25em) {
      .home.page .hero .call-outs .call-out {
        box-sizing: border-box;
        width: 33.3333333333%;
        float: left;
        padding-left: 3.3333333333%;
        padding-right: 3.3333333333%;
        margin-bottom: 0; } }
    .home.page .hero .call-outs .call-out .title {
      text-transform: uppercase;
      font-size: 1.5rem;
      color: #231F20; }
    .home.page .hero .call-outs .call-out .text {
      color: #AD2162; }
    .home.page .hero .call-outs .call-out .fa-stack {
      font-size: 5rem; }
      .home.page .hero .call-outs .call-out .fa-stack .fa:first-child {
        color: #D1D3D4;
        transition: all .2s ease; }
      .home.page .hero .call-outs .call-out .fa-stack .fa:last-child {
        color: #FFF; }

.home.page #primary {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.8333333333%;
  padding-right: 0.8333333333%; }

.home.page .hero {
  background: #FFF; }
  .home.page .hero .banner {
    width: 100%;
    display: block; }

.home.page #main {
  padding: 1rem; }

@media (min-width: 46.25em) {
  .home.page .events {
    box-sizing: border-box;
    width: 33.3333333333%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; } }

.home.page .events .event {
  font-size: .8rem;
  margin-bottom: 1rem; }
  .home.page .events .event img {
    float: left;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 1rem; }
  .home.page .events .event .event-title {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; }
  .home.page .events .event .event-description {
    color: #6f7175;
    font-size: .8rem; }
    .home.page .events .event .event-description p {
      margin: 0; }
  .home.page .events .event .read-more {
    text-transform: uppercase;
    font-weight: 700; }

@media (min-width: 46.25em) {
  .home.page .facebook-feed {
    box-sizing: border-box;
    width: 33.3333333333%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; } }

.home.page .facebook-feed .fb_iframe_widget {
  display: block;
  margin: 0 auto;
  text-align: center; }

@media (min-width: 46.25em) {
  .home.page .custom-content {
    box-sizing: border-box;
    width: 33.3333333333%;
    float: left;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; } }

.home.page .owl-theme .owl-controls {
  margin-top: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.home.page .spotlight {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .home.page .spotlight h2 {
    margin: 0;
    color: #AD2162;
    text-transform: uppercase; }
    @media (max-width: 46.24em) {
      .home.page .spotlight h2 {
        font-size: 1.5rem; } }
  @media (min-width: 46.25em) {
    .home.page .spotlight .spotlight-media {
      box-sizing: border-box;
      width: 41.6666666667%;
      float: right;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; } }
  .home.page .spotlight .spotlight-media img {
    display: block;
    width: 100%; }
  .home.page .spotlight .spotlight-media .spotlight-carousel-items img {
    width: auto;
    max-width: 100%;
    margin: 0 auto 1rem; }
  @media (min-width: 46.25em) {
    .home.page .spotlight .description {
      font-size: 1.5rem;
      box-sizing: border-box;
      width: 58.3333333333%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }
  @media (min-width: 75em) {
    .home.page .spotlight .description {
      box-sizing: border-box;
      width: 50%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; } }

.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.entry-title {
  margin: 1rem 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

@media (min-width: 46.25em) {
  .wpsl-map {
    height: 400px !important; } }

#searchmap, .wpsl-map, #locationmap, .wpsl-map.loading, .wpsl-results.loading {
  min-height: 300px;
  background: url("img/loading.gif");
  background-position: center;
  background-repeat: no-repeat; }

.wpsl-geo-button, .wpslsubmit {
  background: #AD2162;
  color: #FFF;
  border: none;
  text-transform: uppercase;
  padding: .5rem 1rem;
  border: 2px solid #AD2162;
  font-weight: bold; }
  .wpsl-geo-button:hover, .wpslsubmit:hover {
    border: 2px solid #AD2162;
    background: #FFF;
    color: #AD2162; }

#searchmap {
  display: none; }

.location-maps {
  background: #FFF;
  padding-bottom: 1rem; }
  .location-maps .show-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .location-maps .show-tabs:after {
      content: " ";
      display: block;
      clear: both; }
    .location-maps .show-tabs li {
      box-sizing: border-box;
      width: 33.3333333333%;
      float: left;
      border-right: 1px solid #FFF; }
      .location-maps .show-tabs li:last-child {
        border-right: none; }
    .location-maps .show-tabs a {
      display: block;
      font-size: 1.25rem;
      background: #AD2162;
      color: #FFF;
      padding: 1rem 0;
      text-transform: uppercase;
      text-decoration: none; }
      @media (max-width: 46.24em) {
        .location-maps .show-tabs a {
          font-size: 1rem; } }
      .location-maps .show-tabs a:hover {
        border: none; }
    .location-maps .show-tabs .current {
      background: #6B0039; }
  .location-maps .tab {
    padding: 0 1rem; }
  .location-maps .tab:not(.map) {
    display: none; }
  .location-maps .simple-locator-form .distance {
    width: 100%;
    display: block; }
    .location-maps .simple-locator-form .distance select {
      background: #FFF; }
  .location-maps .simple-locator-form .address-input {
    display: block;
    width: 100%; }
  .location-maps .all-locations {
    background: #FFF; }
    .location-maps .all-locations h3 {
      margin: 0; }
    .location-maps .all-locations:not(li) {
      padding: 1rem; }
    @media (max-width: 74.99em) {
      .location-maps .all-locations table {
        overflow-x: scroll; } }
    .location-maps .all-locations thead {
      border-bottom: 2px solid #231F20; }
      @media (max-width: 46.24em) {
        .location-maps .all-locations thead {
          display: none; } }
    .location-maps .all-locations th, .location-maps .all-locations td {
      text-align: left;
      padding: 1rem 0; }
      @media (max-width: 46.24em) {
        .location-maps .all-locations th, .location-maps .all-locations td {
          display: block;
          padding: .5rem 0; } }
    .location-maps .all-locations .atm {
      width: 10%; }
      @media (max-width: 46.24em) {
        .location-maps .all-locations .atm {
          width: 100%; }
          .location-maps .all-locations .atm:before {
            content: 'ATM: ';
            display: inline;
            font-weight: bold;
            vertical-align: middle; } }
    @media (max-width: 46.24em) {
      .location-maps .all-locations .lobby:before {
        content: 'Lobby Hours: ';
        display: block;
        font-weight: bold;
        vertical-align: middle; } }
    @media (max-width: 46.24em) {
      .location-maps .all-locations .drive-up:before {
        content: 'Drive Up Hours: ';
        display: block;
        font-weight: bold;
        vertical-align: middle; } }
    .location-maps .all-locations .location {
      border-bottom: 1px solid #231F20; }
      @media (max-width: 74.99em) {
        .location-maps .all-locations .location {
          font-size: .75rem; } }

.fa {
  vertical-align: middle; }

.fa-check {
  color: #0B0; }

.fa-times-circle-o {
  color: tomato; }

.single-location #view-on-google {
  float: right;
  clear: left;
  border: none;
  text-transform: uppercase;
  background: #AD2162;
  color: #FFF; }
  .single-location #view-on-google:hover {
    background: #FFF;
    color: #AD2162;
    outline: 2px solid #AD2162; }
  @media (max-width: 46.24em) {
    .single-location #view-on-google {
      margin-bottom: 1rem; } }

.single-location article.location {
  background: #FFF;
  padding: 1rem; }

@media (min-width: 46.25em) {
  .single-location #locationmap {
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 0.8333333333%;
    padding-right: 0.8333333333%; } }

.career-openings .opening {
  background: #FFF;
  padding: .5rem;
  margin-bottom: 1rem; }

.career-openings .job-title {
  margin: 0;
  text-transform: uppercase;
  cursor: pointer; }
  .career-openings .job-title.toggled .fa {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #AD2162; }
  .career-openings .job-title span {
    margin: 0 0 0 .5rem; }

.career-openings .fa {
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease; }

.career-openings .details {
  display: none; }

.career-openings .apply, .career-openings .button {
  display: inline-block;
  background: #AD2162;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 1rem;
  border: 2px solid #AD2162;
  transition: all .2s ease; }
  .career-openings .apply:hover, .career-openings .button:hover {
    border: 2px solid #AD2162;
    background: #FFF;
    color: #AD2162; }

.frequenly-asked-questions-list .section-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 2px solid #AD2162;
  font-weight: 700;
  margin-top: 5rem; }

.frequenly-asked-questions-list .questions > ol {
  margin: 0; }

.frequenly-asked-questions-list .answers {
  margin-top: 2rem; }
  .frequenly-asked-questions-list .answers .question {
    font-size: 1.25rem;
    font-weight: bold; }

.frequenly-asked-questions-list .question-wrap {
  margin-bottom: 2rem; }
  .frequenly-asked-questions-list .question-wrap .fa-stack {
    font-size: 1rem;
    margin-right: 1rem; }

#bcWidget > div:not(.barchartWidgetBody) {
  display: none; }

#TB_window #TB_caption {
  height: auto; }

#TB_window #TB_prev, #TB_window #TB_next {
  font-weight: bold;
  text-transform: uppercase; }

.additional-services {
  font-size: 0;
  text-align: center; }
  .additional-services .service {
    font-size: 1rem;
    margin-bottom: 1rem; }
    @media (min-width: 75em) {
      .additional-services .service {
        display: inline-block;
        width: 23%;
        margin: 2% 1%;
        overflow: hidden;
        height: 20rem; } }
    @media (min-width: 27.5em) and (max-width: 74.99em) {
      .additional-services .service {
        display: inline-block;
        width: 46%;
        margin: 2% 2%;
        overflow: hidden;
        height: 20rem; } }
    .additional-services .service a {
      background: #FFF;
      display: block;
      padding: 1rem; }
      @media (min-width: 27.5em) {
        .additional-services .service a {
          height: 20rem; } }
      .additional-services .service a:hover {
        border: none; }
        .additional-services .service a:hover .fa:first-child {
          color: #AD2162;
          transition: all .2s ease; }
    .additional-services .service .title {
      font-size: 1.5rem;
      color: #231F20;
      line-height: 1;
      text-align: center; }
    .additional-services .service .description {
      text-align: center; }
  .additional-services .fa-stack {
    font-size: 5rem;
    display: block;
    margin: 0 auto; }
    .additional-services .fa-stack .fa:first-child {
      color: #D1D3D4;
      transition: all .2s ease; }
    .additional-services .fa-stack .fa:last-child {
      color: #FFF; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

#footer-menu {
  text-align: center;
  margin: 0;
  padding: 2rem 0 1rem; }
  #footer-menu li {
    display: block;
    padding: 0 1rem; }
    @media (min-width: 46.25em) {
      #footer-menu li {
        display: inline;
        padding: 0 1rem; } }
    @media (min-width: 75em) {
      #footer-menu li {
        padding: 0 4rem; } }
  #footer-menu a {
    color: #6f7175;
    text-transform: uppercase; }
    #footer-menu a:hover {
      color: #AD2162; }

img.equal-housing {
  display: block;
  width: 25px;
  vertical-align: middle;
  margin: 0 auto .5rem; }
  @media (min-width: 46.25em) {
    img.equal-housing {
      display: inline-block;
      margin-right: 2rem; } }

img.fdic {
  display: block;
  width: 40px;
  vertical-align: middle;
  margin: 0 auto .5rem; }
  @media (min-width: 46.25em) {
    img.fdic {
      display: inline-block;
      margin-right: 2rem; } }

.social-links {
  margin-left: 2rem;
  display: inline-block;
  vertical-align: sub; }
  @media (max-width: 46.24em) {
    .social-links {
      display: block;
      margin: 1rem 0 0; } }
  .social-links svg {
    vertical-align: bottom;
    width: 30px;
    height: 31px; }
    .social-links svg path {
      fill: #6f7175; }
  .social-links a {
    color: #6B0039;
    margin-right: 1rem;
    font-size: 0; }

.site-info {
  text-align: center; }

#colophon #google_language_translator {
  text-align: center !important;
  margin-bottom: 1rem; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin: 0;
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    background: #FFF;
    margin-top: 0;
    padding: .25rem;
    font-style: italic; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
  margin: 1rem 0; }
  .gallery-item a:hover {
    border-bottom: none; }
    .gallery-item a:hover img {
      opacity: .5; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 31.33%;
    margin: 1rem 1%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*
 * Stylesheet for all employees
 * Employee Cards (for team page)
 * and Single Employee Pages (for each employee)
*/
/**** Employee Grid Page ****/
.loan-officer-header {
  max-width: 100%;
  background-image: url("img/textured-bg.png");
  background-size: 10px 10px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 4rem; }
  @media (min-width: 75em) {
    .loan-officer-header {
      margin-bottom: 0; } }
  .loan-officer-header__inner {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem; }
    @media (min-width: 75em) {
      .loan-officer-header__inner {
        justify-content: space-between;
        flex-direction: row; } }
    .loan-officer-header__inner--left {
      max-width: 45rem; }
      .loan-officer-header__inner--left h1 {
        margin-bottom: 0;
        font-size: 22px; }
        @media (min-width: 46.25em) {
          .loan-officer-header__inner--left h1 {
            font-size: 32px; } }
    .loan-officer-header__inner--right {
      display: block;
      position: relative;
      text-align: center;
      margin-top: 2rem; }
      @media (min-width: 75em) {
        .loan-officer-header__inner--right {
          margin-top: 0; } }
      .loan-officer-header__inner--right h1 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0 2rem; }
        @media (min-width: 46.25em) {
          .loan-officer-header__inner--right h1 {
            font-size: 29px; } }
      .loan-officer-header__inner--right a {
        display: inline-block;
        font-size: 14px;
        font-weight: lighter;
        padding: 0 2rem; }
        @media (min-width: 46.25em) {
          .loan-officer-header__inner--right a {
            font-size: 18px; } }
        .loan-officer-header__inner--right a:hover {
          color: #AD2162;
          cursor: pointer;
          text-decoration: underline; }
      .loan-officer-header__inner--right:before, .loan-officer-header__inner--right:after {
        content: '';
        border-top: 7px solid #AD2162;
        border-bottom: 7px solid #AD2162;
        padding: 40px 5px;
        position: absolute;
        top: -20px;
        width: 30px; }
        @media (min-width: 46.25em) {
          .loan-officer-header__inner--right:before, .loan-officer-header__inner--right:after {
            padding: 50px 5px; } }
      .loan-officer-header__inner--right:before {
        border-left: 7px solid #AD2162;
        left: 0; }
      .loan-officer-header__inner--right:after {
        border-right: 7px solid #AD2162;
        right: 0; }

.loan-officer-main {
  background: #FFF;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border-top: solid 18px #6B0039; }
  .loan-officer-main .grid-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0.5rem 0; }
    .loan-officer-main .grid-container h1 {
      color: #6B0039;
      text-align: center;
      text-decoration: underline; }
      @media (min-width: 46.25em) {
        .loan-officer-main .grid-container h1 {
          text-align: left;
          padding-left: 1rem;
          text-decoration: none; } }
  .loan-officer-main .loan-officer-grid {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media (min-width: 75em) {
      .loan-officer-main .loan-officer-grid {
        align-items: initial;
        justify-content: flex-start; } }
    .loan-officer-main .loan-officer-grid__card {
      width: 15rem;
      padding: 0 1rem 0;
      margin-bottom: 1.5rem; }
      @media (min-width: 75em) {
        .loan-officer-main .loan-officer-grid__card {
          width: calc(100%/5);
          margin-bottom: 2rem; } }
      .loan-officer-main .loan-officer-grid__card .emp-name, .loan-officer-main .loan-officer-grid__card .emp-location {
        margin: unset; }
      .loan-officer-main .loan-officer-grid__card .emp-name {
        color: #6B0039;
        text-transform: uppercase; }

/**** Single Employee Page ****/
.officer-intro-header {
  padding-top: 2rem;
  background: #FFF;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }
  @media (min-width: 75em) {
    .officer-intro-header {
      padding-top: 5rem; } }
  .officer-intro-header .officer-header-info {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 10px solid #6B0039; }
    @media (min-width: 46.25em) {
      .officer-intro-header .officer-header-info {
        align-items: flex-start;
        justify-content: space-between; } }
  .officer-intro-header .info-box-img {
    max-width: 15rem;
    position: relative;
    z-index: 10; }
    @media (min-width: 75em) {
      .officer-intro-header .info-box-img {
        margin-bottom: -3rem;
        width: 14.2rem;
        min-height: 18rem; } }
  .officer-intro-header .info-box-text {
    max-width: 30rem; }
    .officer-intro-header .info-box-text .info-title {
      font-size: 2rem;
      text-transform: uppercase; }
      .officer-intro-header .info-box-text .info-title:first-of-type {
        font-weight: bold; }
    .officer-intro-header .info-box-text p {
      font-size: 14px;
      font-weight: lighter; }
  .officer-intro-header .info-box-contact {
    position: relative;
    padding: 0 2rem 0 2rem;
    width: 16rem;
    margin-top: 1.2rem; }
    @media (max-width: 74.99em) {
      .officer-intro-header .info-box-contact {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 15rem; } }
    @media (max-width: 46.24em) {
      .officer-intro-header .info-box-contact:before, .officer-intro-header .info-box-contact:after {
        content: '';
        border-top: 7px solid #AD2162;
        border-bottom: 7px solid #AD2162;
        padding: 98px 5px;
        position: absolute;
        top: -5px;
        width: 30px; } }
  @media (max-width: 46.24em) and (min-width: 46.25em) {
    .officer-intro-header .info-box-contact:before, .officer-intro-header .info-box-contact:after {
      padding: 98px 5px; } }
    @media (max-width: 46.24em) {
      .officer-intro-header .info-box-contact:before {
        border-left: 7px solid #AD2162;
        left: 0; }
      .officer-intro-header .info-box-contact:after {
        border-right: 7px solid #AD2162;
        right: 0; } }
    @media (min-width: 75em) {
      .officer-intro-header .info-box-contact:before, .officer-intro-header .info-box-contact:after {
        content: '';
        border-top: 7px solid #AD2162;
        border-bottom: 7px solid #AD2162;
        padding: 98px 5px;
        position: absolute;
        top: -5px;
        width: 30px; } }
  @media (min-width: 75em) and (min-width: 46.25em) {
    .officer-intro-header .info-box-contact:before, .officer-intro-header .info-box-contact:after {
      padding: 98px 5px; } }
    @media (min-width: 75em) {
      .officer-intro-header .info-box-contact:before {
        border-left: 7px solid #AD2162;
        left: 0; }
      .officer-intro-header .info-box-contact:after {
        border-right: 7px solid #AD2162;
        right: 0; } }
    .officer-intro-header .info-box-contact h3 {
      margin-bottom: 0.3rem;
      margin-top: 0.1rem;
      text-transform: uppercase;
      color: #6B0039; }
    .officer-intro-header .info-box-contact .lo-email {
      text-decoration: underline; }
    .officer-intro-header .info-box-contact .add-space {
      display: inline-block;
      margin-bottom: 0.3rem; }
    .officer-intro-header .info-box-contact .no-marg {
      color: #231F20;
      margin: 0; }
    .officer-intro-header .info-box-contact .social-linkedin {
      width: 31px;
      height: 31px;
      margin-top: 0.3rem; }

.officer-main-info {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: #FFF; }
  .officer-main-info .flex-container {
    display: flex;
    max-width: 75rem;
    padding: 1rem 2rem 0.5rem;
    margin: 0 auto;
    background: url("img/textured-bg.png");
    background-size: 15px 15px;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .officer-main-info .flex-container .flex-left {
      display: flex;
      flex-direction: column;
      max-width: 15rem;
      justify-content: flex-start; }
      @media (min-width: 46.25em) {
        .officer-main-info .flex-container .flex-left {
          margin-right: 5rem;
          width: 14.6rem; } }
      .officer-main-info .flex-container .flex-left h3 {
        color: #6B0039;
        text-transform: uppercase;
        margin-bottom: 0.2rem; }
      .officer-main-info .flex-container .flex-left p {
        font-size: 14px;
        font-weight: lighter;
        margin: 0.2rem 0; }
      .officer-main-info .flex-container .flex-left .review {
        padding-top: 4rem;
        position: relative;
        padding-bottom: 4rem; }
        .officer-main-info .flex-container .flex-left .review p {
          font-size: 20px; }
        .officer-main-info .flex-container .flex-left .review .reviewer-name {
          font-size: 14px;
          color: #AD2162;
          font-weight: lighter; }
        .officer-main-info .flex-container .flex-left .review:before, .officer-main-info .flex-container .flex-left .review:after {
          font-family: "Times New Roman", Times, serif;
          font-weight: bold;
          position: absolute;
          font-size: 72px;
          color: #6B0039; }
        .officer-main-info .flex-container .flex-left .review:before {
          content: '“';
          left: -6px;
          top: 15px; }
        .officer-main-info .flex-container .flex-left .review:after {
          content: '”';
          right: 1.2rem;
          bottom: 0.7rem; }
      @media (max-width: 63.9375em) {
        .officer-main-info .flex-container .flex-left .hide-mobile {
          display: none; } }
    .officer-main-info .flex-container .flex-right {
      max-width: 35rem; }
      .officer-main-info .flex-container .flex-right h3 {
        color: #6B0039;
        text-transform: uppercase;
        margin-bottom: 0.2rem; }
        @media (max-width: 63.9375em) {
          .officer-main-info .flex-container .flex-right h3 {
            padding-top: 1.5rem; } }
        @media (min-width: 75em) {
          .officer-main-info .flex-container .flex-right h3:nth-of-type(2), .officer-main-info .flex-container .flex-right h3:nth-of-type(3) {
            padding-top: 1.5rem; } }
      .officer-main-info .flex-container .flex-right .last:last-of-type {
        padding-bottom: 1.5rem; }
      .officer-main-info .flex-container .flex-right p {
        margin: 0.2rem 0;
        font-size: 14px; }
      .officer-main-info .flex-container .flex-right iframe {
        max-width: 35rem;
        width: 100%;
        height: 14rem;
        margin-bottom: 2rem; }
        @media (min-width: 46.25em) {
          .officer-main-info .flex-container .flex-right iframe {
            height: 20rem; } }

#content, #masthead, #colophon {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  #content:after, #masthead:after, #colophon:after {
    content: " ";
    display: block;
    clear: both; }
  @media (max-width: 74.99em) {
    #content, #masthead, #colophon {
      padding: 0 .5rem; } }
  @media (min-width: 156.25em) {
    #content, #masthead, #colophon {
      max-width: 80%; } }

#primary {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.8333333333%;
  padding-right: 0.8333333333%; }
  @media (min-width: 46.25em) {
    #primary {
      box-sizing: border-box;
      width: 75%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; } }

#secondary {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.8333333333%;
  padding-right: 0.8333333333%; }
  @media (min-width: 46.25em) {
    #secondary {
      box-sizing: border-box;
      width: 25%;
      float: right;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%;
      margin-top: 2rem; } }

.wrap.content {
  background: url("img/textured-bg.png");
  background-size: 10px 10px; }

.show-mobile {
  display: none; }
  @media (max-width: 46.24em) {
    .show-mobile {
      display: block; } }

#primary-menu .current-menu-parent .current-menu-item a:before {
  display: none !important; }
