.wp-caption {
	margin: 0;
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
		background: $white;
		margin-top: 0;
		padding: .25rem;
		font-style: italic;
	}
}

.wp-caption-text {
	text-align: center;
}