#footer-menu {
	
	text-align: center;
	margin: 0;
	padding: 2rem 0 1rem;

	li {
		display: block;
		padding: 0 1rem;
		@include mq( $from: tablet ){
			display: inline;
			padding: 0 1rem;
		}
		@include mq( $from: desktop ){
			padding: 0 4rem;
		}
	}

	a {
		color: $dark-gray;
		text-transform: uppercase;

		&:hover {
			color: $brand-primary-color;
		}
	}

}

img.equal-housing {
	
	display: block;
	width: 25px;
	vertical-align: middle;
	margin: 0 auto .5rem;

	@include mq( $from: tablet ){
		display: inline-block;
		margin-right: 2rem;
	}
	
}
img.fdic {
	display: block;
	width: 40px;
	vertical-align: middle;
	margin: 0 auto .5rem;

	@include mq( $from: tablet ){
		display: inline-block;
		margin-right: 2rem;
	}
}
.social-links {
	margin-left: 2rem;
	display: inline-block;
	vertical-align: sub;

	@include mq( $until: tablet ){
		display: block;
		margin: 1rem 0 0;
	}

	svg {
		vertical-align: bottom;
		width: 30px;
		height: 31px;

		path {
			fill: $dark-gray;
		}
	}

	a {
		color: $brand-color-dark;
		margin-right: 1rem;
		font-size: 0; // remove blank space
	}
}

.site-info {
	text-align: center;
}

#colophon #google_language_translator {
	text-align: center !important;
	margin-bottom: 1rem;
}