.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

.widget-title {
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0 0 1rem 0;
}

.widget_landmark_quick_links {
	display: none;
	@include mq($from: desktop){
		display: block;
	}
	background: $brand-primary-color;
	font-size: 1.25rem;
	padding: 1rem;

	.widget-title {
		border-bottom: 1px solid $white;
		color: $white;
	}

	.fa {
		width: 2rem;
		text-align: center;
	}

	.fa-mobile {
		font-size: 2.25rem;
		vertical-align: middle;
	}

	.fa-line-chart {
		margin-right: .25rem;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		color: $white;
		text-decoration: none;
	}
}

.sidebar-link {
	display: block;
}
.sidebar-image {
	width: 100%;
}