table {
	margin: 0 0 1.5em;
	width: 100%;
}

.pricing-table {

	@include mq( $until: desktop ){
		overflow-x: scroll;
	}
	
	table {
		border: 1px solid $black;
	}

	tbody tr:nth-child(odd){
		background: $light-gray;
	}

	th {
		text-align: left;
		padding: .5rem 1rem 0;
	}

	td {
		padding: 1rem;
	}
	
}

.card-table {

	thead th:nth-child(odd) {
		background: $light-gray;
	}

	td, th {
		padding: .25rem;
	}

	tbody tr {

		border-bottom: 1px solid darken($light-gray, 10%);

		> th:first-child {
			background: $light-gray;
		}

		td {
			text-align: center;
			width: 14rem;
		}

		td:nth-child(odd) {
			background: $light-gray;
		}

		th {
			text-align: left;
		}
	}

	thead th {
		text-transform: uppercase;
	}

}