@import "colors";
@import "typography";
@import "structure";

$brand-primary-color:     #AD2162;
$brand-color-dark: 		  #6B0039;

$black: 		          #231F20;
$white: 		          #FFF;
$light-gray: 		      #D1D3D4;
$dark-gray:               #6f7175;

$susy: (
	container: 1200px,
	columns: 12,  // The number of columns in your grid
  	gutters: 1/4, // The size of a gutter in relation to a single column
  	gutter-position: inside,
);

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 1200px,
    wide:    1500px,
    extra-wide: 2500px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (i.e. when $mq-responsive is set to 'false').
$mq-static-breakpoint: desktop;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width, e.g. (mobile, tablet, desktop).
// $mq-show-breakpoints: (mobile, tablet, desktop, wide, extra-wide);