a {
	color: $brand-primary-color;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $brand-color-dark;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.content-area a {
	border-bottom: 1px solid $brand-primary-color;
	&:hover {
		border-bottom: 1px solid $brand-color-dark;
	}
}

a[href$=".pdf"]{
	&:after {
		content:' \f1c1';
		font-family: 'FontAwesome';
	}
}

a[href$=".doc"], a[href$=".docx"]{
	&:after {
		content:' \f1c2';
		font-family: 'FontAwesome';
	}
}
a[href$=".txt"]{
	&:after {
		content:' \f0f6';
		font-family: 'FontAwesome';
	}
}

a[href$=".zip"]{
	&:after {
		content:' \f1c6';
		font-family: 'FontAwesome';
	}
}

a[href="#"]{
	cursor: default;
}

.edit-link {
	display: block;
}