/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@include mq( $until: desktop ){
	
	.mobile-logo {
		display: block;
		position: relative;
		height: 35px;

		margin: 0 auto;
		text-align: center;
		left: 0;

		@include mq( $until: tablet ) {
			text-align: center;
		}

		@include mq(mobile) {
			left: -1rem;
		}

		a:hover {
			border: none;
		}

		img {
			height: 35px;
			vertical-align: sub;
		}
	}

	.site-branding {
		display: none;
	}

	.wrap.header {
	    list-style: none;
	    width: 100%;
	    height: 100%;
	 	position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 0;
	    background: $brand-primary-color;
	    color: $white;
	    overflow-y: scroll;
	    -webkit-overflow-scrolling: touch;
	}
	.nav-show-sub-menu {
		display: none;
	}

	.menu-item-has-children .nav-show-sub-menu {
		display: block;
		background: $light-gray;
		color: $black;
		margin-left: .5rem;
		position: absolute;
		border: none;
		padding: 0;
		right: 0;
		top: .95rem;
		height: 30px;
		width: 30px;

		@include mq( $until: tablet ){
			right: 2rem;
		}

		& .fa-chevron-down {
			transition: transform .5s ease;
		}

		&.opened .fa-chevron-down {
			transform: rotate(180deg);
		}
	}

	#masthead {
		margin: 0 !important;
		padding: 0 !important;
		width: 90%;
		max-width: 320px;

		// change order of login
		display: flex;
		flex-direction: column;

		.widget_landmark_quick_links {
			display: none;
			text-align: center;
			@include mq( $until: desktop ){
				display: block;
			}
			li {
				margin-bottom: 1rem;
			}
		}
	}

	#primary-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		max-width: 320px;
		width: 100%;
		margin: 0 auto;

		li {
			margin: 0;
			padding: .25rem 0;
			position: relative;
		}

		& > li {
			padding: 1rem 0;
		}

		& > a {
			position: relative;
			left: 0;
		}

		a {
			color: $black;
			color: $white;
			font-size: 1.2rem;
			text-decoration: none;
		}

		.sub-menu {
			display: none;
			padding: 0;
			list-style: none;
			margin: 0;
			background: $brand-color-dark;
		}

	}

	#header-search {
		margin: 1rem 1rem;
		//max-width: 320px;
		text-align: right;

		input[type="text"]{
			border-radius: 0;
		}

		input[type="submit"]{
			margin-left: 1rem;
			background: $light-gray;
			color: $black;
			border: none;
			height: 32px;
		}

		@include mq( $until: tablet ){
			display: none;
		}
	}

	#remote-login {
		margin: 1rem auto 0;
		padding: 1rem 0;

		// move to top of mobile menu
		order: -2;

		@include mq($from: mobile){
			margin: 2rem 0 0;
		}

		h4, .account-login-header {
			font-size: 1rem;
			text-transform: uppercase;
			margin: .5em 0;
		}

		background: $brand-color-dark;
		text-align: center;

		input {
			display: block;
			text-align: center;
			margin: 0 auto;
			margin-bottom: .5rem;
			border-radius: 0;

			&[type="submit"]{
				background: $light-gray;
				border: none;
				text-transform: uppercase;
			}
		}

		a.enroll-link {
			display: block;
			text-align: center;
			margin: 1rem auto 0;
			margin-bottom: .5rem;
			border-radius: 0;
			background: $light-gray;
			border: none;
			text-transform: uppercase;
			line-height: 1;
			padding: .6em 1em .4em;
			color: $black;
			width: 4rem;
			font-size: 0.75rem;
		}
	}

	.canvas-wrap {
	    //min-height: 100%;
	    position: relative;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    padding-top: 50px;
	    min-height: 100vh;
	    background: $white;
	}

	.nav-trigger {
	    position: absolute;
	    clip: rect(0, 0, 0, 0);
	}

	label[for="nav-trigger"] {
	    position: fixed;
	    top: 10px;
	    left: 15px;
	    z-index: 3;
	    width: 45px;
		height: 30px;
		cursor: pointer;

		svg {
			width: 40px !important;
			rect {
				fill: $brand-primary-color;
				width: 45px !important;
			}
		}

		&:before {
			content: 'Menu';
			position: fixed;
			top: 0;
			left: 4rem;
			font-size: 2rem;
			text-transform: uppercase;
			color: $brand-primary-color;

			@include mq( $until: tablet ){
				display: none;
			}
		}

		&:after {
			content: 'Login';
			position: fixed;
			top: 0;
			right: 1rem;
			font-size: 2rem;
			text-transform: uppercase;
			color: $brand-primary-color;

			@include mq( $until: tablet ) { 
				right: .5rem;
			}
		}

	}

	.mobile-header {
		position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 50px;
	    z-index: 2;
	    background: $white;
	    box-shadow: 0 1px 5px $light-gray;
	}

	.admin-bar .mobile-header, .admin-bar .header.wrap {
		top: 32px;

		@include mq($until: 782px){
			top: 46px;
		}
	}

	.admin-bar label[for="nav-trigger"] {
		top: 42px;

		&:after, &:before{
			top: 32px !important;
		}

		@include mq($until: 782px){
			top: 55px;

			&:after, &:before{
				top: 48px !important;
			}
		}
	}

	label[for="nav-trigger"], .canvas-wrap, .mobile-header {
	    transition: left 0.2s;
	}

	html, body {
	    overflow-x: hidden;
	}

	.nav-trigger:checked ~ .mobile-header {
	    left: 90%;
	}
	.nav-trigger:checked ~ .mobile-header label {
		left: 92%;

		&:after {
			content: '\f00d';
			padding: .3rem 1rem;
			background: $white;
			border-radius: 50%;
			font-family: 'FontAwesome';
			left: 1rem;
			right: auto;
			top: 1rem;

			@include mq( $until: 360px ){
				display: none;
			}

			.os-ios & {
				display: none;
			}
		}

		&:before{
			display: none;
		}
	}
	 
	.nav-trigger:checked ~ .canvas-wrap {
	    left: 90%;
	    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	    overflow-y: hidden;
	    height: 100px;
	}

	.os-ios {

		.wrap.header{
			display: none;	
			position: static;
		}

		.nav-trigger:checked ~ .wrap.header {
			display: block;
			position: static;
			overflow-y: scroll;
			padding-top: 4rem;
		}
		
		.nav-trigger:checked ~ .mobile-header {
		    left: 0;
		}
		.nav-trigger:checked ~ .mobile-header label {
			left: 2%;
		}
		 
		.nav-trigger:checked ~ .canvas-wrap {
			display: none;
		    left: 0%;
		    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
		    overflow-y: auto;
		    height: 100px;
		}

		#masthead {
			width: 100%;
		}


	}

	.skiptranslate ~ #page .mobile-header {
	  top: 40px;  
	}

	.skiptranslate ~ #page .mobile-header [for="nav-trigger"] {
	  top: 50px;
	}

	.skiptranslate ~ #page, .skiptranslate ~ #page #site-navigation {
	  margin-top : 40px;
	}

} // End Mobile Menu

.skiptranslate ~ #page {
	margin-top: 40px;
}

.translated-ltr #primary-menu > li {
	font-size: 1.1rem;
}

.translated-ltr #view-on-google {
	display: none;
}

@include mq( $from: desktop ){

	//@import "menus";
	
	// MENUS.SCSS ////////////////////////////////////////////////////////////////////////////////////////////

	.main-navigation {
		clear: both;
		display: block;
		float: left;
		width: 100%;

		ul {
			display: none;
			list-style: none;
			margin: 0;
			padding-left: 0;

			ul {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 1.5em;
				left: -999em;
				z-index: 99999;

				ul {
					left: -999em;
					top: 0;
				}

				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				a {
					width: 200px;
				}

			}

			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
		li {
			float: left;
			position: relative;

		}
		a {
			display: block;
			text-decoration: none;
		}

		// .current_page_item > a,
		// .current-menu-item > a,
		// .current_page_ancestor > a {
		// }
	}

	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: block;
	}

	@media screen and (min-width: 37.5em) {
		.menu-toggle {
			display: none;
		}
		.main-navigation ul {
			display: block;
		}
	}

	.comment-navigation,
	.posts-navigation,
	.post-navigation {

		.site-main & {
			margin: 0 0 1.5em;
			overflow: hidden;
		}

		& .nav-previous {
			float: left;
			width: 50%;
		}

		& .nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	}

	// END MENUES.SCSS ////////////////////////////////////////////////////////////////////////////////////////////

	.mobile-logo {
		display: none;
	}

	.nav-show-sub-menu {
		display: none;
	}

	.nav-trigger{ 
		display: none;

		& + label {
			display: none;
		}
	}

	label[for="nav-trigger"] {
		display: none;
	}

	#masthead {

		margin-top: 2rem;

		.widget_landmark_quick_links {
			display: none;
		}

		.site-branding {
			float: left;
			width: 25%;

			@include span(first 3); // LOGO SIZE

			h1 {
				margin: 1rem 0 0;
				font-size: 0;
			}
			a {
				display: block;
				
				&:hover {
					border: none;
				}
			}
			img {
				width: 100%;
			}
		}

	}

	#site-navigation {
		float: left;
		width: 55%;
		clear: none;

		@include span(6); // NAVIGATION SIZE

		#header-search {
			float: right;
			//margin-right: 2rem;

			input[type="text"] {
				line-height: 1.5;
				border: 1px solid lightgrey;
				border-radius: 0;
				font-size: .75rem;
			}

			input[type="submit"] {
				background: lightgrey;
				margin: 0 1rem 0 .5rem;
				padding: .25rem .5rem;
				vertical-align: middle;
				line-height: 1.5;
				border: none;
			}
		}
		.menu-primary-container {
			clear: both;
			text-align: center;
		}
	}

	#remote-login {
		@include span(last 3);
		text-align: center;
		color: $white;

		.inside {
			background: $brand-primary-color;
			padding: 0 1rem;
			padding: 1rem 1rem 0.75rem 1.5rem;
		}

		span {
			display: block;
			color: $white;
			text-transform: uppercase;
		}

		h4, .account-login-header {
			text-align: left;
			margin: 0 0 1rem 0;
			padding: 0;
			text-transform: uppercase;
			font-weight: 400;
		}

		input, {
			font-size: .8rem;
			border-radius: 0;

			&[type="submit"] {
				display: block;
				width: 40%;
				width: 5rem;
				margin-right: 10%;
				float: left;
				background: #6A0439;
				color: $white;
				border: none;
				padding: .25rem 0;
				text-align: center;
				margin-bottom: .5rem;
			}
		}

		a.enroll-link {
			font-size: .8rem;
			border-radius: 0;
			display: block;
			width: 40%;
			width: 5rem;
			margin-right: 10%;
			float: left;
			background: #6A0439;
			color: $white;
			border: none;
			padding: .25rem 0;
			text-align: center;
			margin-bottom: .5rem;
			line-height: 1;
		}

		.username {
			text-align: left;

			&:after {
				font-family: "FontAwesome";
				content: "\f023";
				font-size: 1.5rem;
				width: auto;
				margin-left: .5em;
				vertical-align: middle;
				display: inline-block;
				text-align: center;
				color: $black;
			}

			input {
				width: 80%;
			}
		}
	}

	#primary-menu {
		@include font-size(1.25);
		display: inline-block;
		margin-top: 2rem;
		position: relative;
		top: -4px;

		li {
			padding: 0 1rem;

			&:hover {
				a {
					border-bottom: 6px solid $brand-primary-color;
				}
			}
		}

		a {
			color: $black;
			display: inline;
			padding-bottom: .5rem;

			&:hover {
				border-bottom: 6px solid $brand-primary-color;
				color: $brand-primary-color;
			}
		}

		.sub-menu {
			background: white;
			top: 2.6rem;
			padding: 0.2rem 1rem; // add breathing room

			li {
				padding: 0;
			}

			li a {
				border: none !important;
				display: block;
				text-align: left;
				padding: .25rem;
				width: auto;
				white-space: nowrap;
				clear: both;
				float: left;
				min-width: 220px;
			}

			a {
				&:hover {
					border: none;
					color: $brand-primary-color;
					font-weight: 700;
				}
			}
		}

		// fix the width of this menu (bold text on hover causes menu to jump)
		// menu-item-219 is "Personal" (First item in the nav menu)
		#menu-item-219 .sub-menu {
			width: 20rem;
		}

		// menu-item-218 is "Business" (Second item in the nav menu)
		#menu-item-218 .sub-menu {
			width: 17rem;
		}

		.current-menu-parent .current-menu-item a:before {
			color: $brand-primary-color;
			content: '\f105\0020';
			font-family: 'FontAwesome';
		}

		> .current-menu-item a, .current-menu-parent a {
			border-bottom: 6px solid $brand-primary-color;
		}

	}

} // End Desktop Navigation

// New Login Feature September 2016
#masthead .account-type-wrap {
	display: flex;
	flex-wrap: wrap;
	text-align: center;

	.personal, .business {
		width: 100%;
		flex: 1 0 50%;

		a {
			display: block;
			margin: .5em auto;
			float: none;
			cursor: pointer;

			+ a {
				margin-top: 1em;
			}
		}
	}

	.personal {
		@include mq( $from: desktop ){
			border-right: 1px solid $white;
		}
	}
}

#remote-login h4, #remote-login .account-login-header  {
	text-align: center;
}

#remote-login .inside {
	padding: .5em;
}

// End of File