.home.page {

	.home-corner {
		@include span(8);
	}

	.hero {

		.wrap {
			@include container();
			@include extra-wide();
			padding: 0 gutters(); ;
		}

		&.top {
			//background: url('img/textured-bg.png');
			background-size: 10px 10px;
			background: #f4f4f4;
		}

		.quick-links {
			margin: 1rem 0;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			li {
				text-align: center;
				@include mq( $from: 950px ){
					@include span(1 of 5 (gutter-override: 1%) );
					text-align: left;
					//margin-bottom: 0;
				}
				
				a {
					display: block;
					padding: 0 1rem;
					color: $white;
					background: $brand-primary-color;
					text-transform: uppercase;
					height: 4rem;
					margin-bottom: 1rem;
					transition: all .2s ease;

					&:hover {
						background: $white;
						background: $brand-color-dark;
						color: $brand-primary-color;
						color: $white;
						//outline: 3px solid $brand-primary-color;
					}

					.fa {
						font-size: 2rem;
						float: left;
						margin-right: 1rem;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}

					.fa-mobile {
						font-size: 3rem;
					}

					span {
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						display: block;
					}
				}
			}

		} // end .quick-links

		.call-outs {

			margin: 2rem 0;

			.call-out {

				a {
					display: block;

					&:hover .fa:first-child {
						color: $brand-primary-color;
					}
				}

				margin-bottom: 2rem;

				@include mq( $from: tablet){
					@include span( 1 of 3 );	
					margin-bottom: 0;
				}
				

				text-align: center;

				.title {
					text-transform: uppercase;
					font-size: 1.5rem;
					color: $black;
				}

				.text {
					color: $brand-primary-color;
				}

				.fa-stack {
					font-size: 5rem;

					.fa:first-child {
						color: $light-gray;
						transition: all .2s ease;
					}

					.fa:last-child {
						color: $white;
					}
				}
			}

		} // end .call-outs

	}

	#primary {
		@include span(full);
	}

	.hero {
		background: $white;

		.banner {
			width: 100%;
			display: block;
		}
	}
	#main {
		padding: 1rem;
	}


	.events {

		@include mq( $from: tablet ){
			@include span(first 4);	
		}	

		.event {

			font-size: .8rem;
			margin-bottom: 1rem;

			img {
				float: left;
				width: 5.5rem;
				height: 5.5rem;
				margin-right: 1rem;
			}

			.event-title {
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1;
			}

			.event-description {
				color: $dark-gray;
				font-size: .8rem;

				p {
					margin: 0;
				}
			}

			.read-more {
				text-transform: uppercase;
				font-weight: 700;
			}
		
		} // end .event

	} // end .events

	.facebook-feed {
		@include mq( $from: tablet ){
			@include span(last 4);
		}

		.fb_iframe_widget {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

	}

	.custom-content {
		@include mq( $from: tablet ){
			@include span(4);
		}
	}


	.owl-theme .owl-controls {
		margin-top: 0;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.spotlight {
		position: relative;  
		padding-top: 1rem;
  		padding-bottom: 1rem;

		h2 {
			margin: 0;
			color: $brand-primary-color;
			text-transform: uppercase;

			@include mq( $until: tablet){
				font-size: 1.5rem;
			}
			
			span {
				//border-bottom: 4px solid $brand-primary-color; 
			}
		}

		.spotlight-media {
			
			@include mq( $from: tablet){
				@include span( last 5 );
			}

			img {
				display: block;
				width: 100%;
			}

			.spotlight-carousel-items {
				img {
					width: auto;
					max-width: 100%;
					margin: 0 auto 1rem;
				}
			}
		}

		.description {
			
			@include mq( $from: tablet){
				font-size: 1.5rem;
				@include span( 7 );
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			@include mq( $from: desktop ){
				@include span( 6 );
			}
		}


	}

} // end .home.page