.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-title {
	margin: 1rem 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.wpsl-map {
	@include mq( $from: tablet ){
		height: 400px !important;	
	}
}

#searchmap, .wpsl-map, #locationmap, .wpsl-map.loading, .wpsl-results.loading {
	min-height: 300px;
	background: url('img/loading.gif');
	background-position: center;
	background-repeat: no-repeat;
}
.wpsl-geo-button, .wpslsubmit {
	background: $brand-primary-color;
	color: $white;
	border: none;
	text-transform: uppercase;
	padding: .5rem 1rem;
	border: 2px solid $brand-primary-color;
	font-weight: bold;

	&:hover {
		border: 2px solid $brand-primary-color;
		background: $white;
		color: $brand-primary-color;
	}
}

#searchmap {
	display: none;
}

.location-maps {

	background: $white;
	padding-bottom: 1rem;

	.show-tabs {
		margin: 0;
		padding: 0;
		list-style: none;
		@include container();
		text-align: center;

		li {
			@include span(4 no-gutters);
			border-right: 1px solid $white;

			&:last-child {
				border-right: none;
			}
		}
		a {
			display: block;
			font-size: 1.25rem;
			background: $brand-primary-color;
			color: $white;
			padding: 1rem 0;
			text-transform: uppercase;
			text-decoration: none;

			@include mq( $until: tablet ){
				font-size: 1rem;
			}

			&:hover {
				border: none;
			}
		}

		.current {
			background: $brand-color-dark;
		}
	}

	.tab {
		padding: 0 1rem;
	}

	.tab:not(.map) {
		display: none;
	}

	.simple-locator-form .distance{
		width: 100%;
		display: block;

		select {
			background: $white;
		}
	}

	.simple-locator-form .address-input {
		display: block;
		width: 100%;
	}

	.all-locations {

		background: $white;

		h3 {
			margin: 0;
		}
		
		&:not(li) { 
			padding: 1rem; 
		}

		table {
			@include mq( $until: desktop ){
				overflow-x: scroll;
			}
		}

		thead {
			border-bottom: 2px solid $black;
			@include mq( $until: tablet ){
				display: none;
			}
		}

		th, td { 
			text-align: left; 
			padding: 1rem 0;

			@include mq( $until: tablet ){
				display: block;
				padding: .5rem 0;
			}
		}

		.atm {
			width: 10%;
			@include mq( $until: tablet ){
				width: 100%;
				&:before {
					content: 'ATM: ';
					display: inline;
					font-weight: bold;
					vertical-align: middle;
				}
			}
		}

		.lobby {
			@include mq( $until: tablet ){
				&:before {
					content: 'Lobby Hours: ';
					display: block;
					font-weight: bold;
					vertical-align: middle;
				}
			}
		}

		.drive-up {
			@include mq( $until: tablet ){
				&:before {
					content: 'Drive Up Hours: ';
					display: block;
					font-weight: bold;
					vertical-align: middle;
				}
			}
		}

		.location {
			border-bottom: 1px solid $black;
			@include mq( $until: desktop) {
				font-size: .75rem;
			}
		}

	}
}

.fa { 
	vertical-align: middle;
}

.fa-check {
	color: #0B0;
}

.fa-times-circle-o {
	color: tomato;
}

.single-location {

	#view-on-google {
		float: right;
		clear: left;
		border: none;
		text-transform: uppercase;

		background: $brand-primary-color;
		color: $white;

		&:hover {
			background: $white;
			color: $brand-primary-color;
			outline: 2px solid $brand-primary-color;
		}

		@include mq( $until: tablet){
			margin-bottom: 1rem;
		}
	}

	article.location {
		background: $white;
		padding: 1rem;
	}

	#locationmap {
		@include mq( $from: tablet ){
			@include span(last 6);
		}
	}
}


.career-openings {

	.opening {
		background: $white;
		padding: .5rem;
		margin-bottom: 1rem;
	}

	.job-title {
		margin: 0;
		text-transform: uppercase;
		cursor: pointer;

		&.toggled .fa {
			transform: rotate( 90deg );
			color: $brand-primary-color;
		}

		span {
			margin: 0 0 0 .5rem;
		}
	}

	.fa {
		transition: transform .5s ease;
	}

	.details {
		display: none;
	}

	.apply, .button {
		display: inline-block;
		background: $brand-primary-color;
		padding: .5rem 1rem;
		text-decoration: none;
		text-transform: uppercase;
		color: $white;
		margin-bottom: 1rem;
		border: 2px solid $brand-primary-color;
		transition: all .2s ease;

		&:hover {
			border: 2px solid $brand-primary-color;
			background: $white;
			color: $brand-primary-color;
		}
	}
}


.frequenly-asked-questions-list {

	.section-title {
		font-size: 1.5rem;
		text-transform: uppercase;
		border-bottom: 2px solid $brand-primary-color;
		font-weight: 700;
		margin-top: 5rem;
	}
	
	.questions {
		> ol {
			margin: 0;
		}
	}

	.answers {
		margin-top: 2rem;

		.question {
			font-size: 1.25rem;
			font-weight: bold;
		}
	}

	.question-wrap {
		margin-bottom: 2rem;

		.fa-stack {
			font-size: 1rem;
			margin-right: 1rem;
		}
	}
}


#bcWidget {
	> div:not(.barchartWidgetBody){
		display: none;
	}
}


#TB_window {

	#TB_caption {
		height: auto;
	}

	#TB_prev, #TB_next {
		font-weight: bold;
		text-transform: uppercase;
	}

}


.additional-services {
	font-size: 0;
	text-align: center;

	.service {
		font-size: 1rem;

		@include mq( $from: desktop ){
			//@include gallery( 1 of 4 1/16 );	
			display: inline-block;
			width: 23%;
			margin: 2% 1%;
			
			overflow: hidden;
			height: 20rem;
		}
		

		@include mq( $from: 440px, $until: desktop ){
			//@include gallery( 1 of 2 1/16 );	
			display: inline-block;
			width: 46%;
			margin: 2% 2%;
			
			overflow: hidden;
			height: 20rem;
		}

		margin-bottom: 1rem;

		a {
			background: $white;
			display: block;
			padding: 1rem;

			@include mq( $from: 440px ){
				height: 20rem;	
			}

			&:hover {
				border: none;

				.fa:first-child {
					color: $brand-primary-color;
					transition: all .2s ease;
				}

			}
		}

		.title {
			font-size: 1.5rem;
			color: $black;
			line-height: 1;
			text-align: center;
		}

		.description {
			text-align: center;

		}

	}

	.fa-stack {
		font-size: 5rem;
		display: block;
		margin: 0 auto;

		.fa:first-child {
			color: $light-gray;
			transition: all .2s ease;
		}

		.fa:last-child {
			color: $white;
		}

	}

}
